# Postfix master process configuration file.  For details on the format of the file, see the
# master(5) manual page (command: "man 5 master"). Do not forget to execute "postfix reload" after
# editing this file.
#
# =================================================================================================
# SYNTAX (http://www.postfix.org/master.5.html)
#   The general format of the master.cf file is as follows:
#
#     - Empty lines and whitespace-only lines are ignored,  as are lines whose first non-whitespace
#       character is a `#'.
#     - A logical line starts with non-whitespace text.  A line that starts with whitespace contin-
#       ues a logical line.
#     - Each logical line defines  a single Postfix service. Each service is identified by its name
#       and type as described below.  When multiple lines  specify the same  service name and type,
#       only the last one is remembered. Otherwise, the order of master.cf service definitions does
#       not matter.
#
#   Each logical line consists of eight fields  separated by whitespace.  These are described below
#   in the order as they  appear in the "master.cf" file. Where  applicable a field of "-" requests
#   that the  builtin default value be used.  For boolean fields specify "y" or "n" to override the
#   default value.
#
#   Service name
#       The service name syntax depends on the service type as described next.
#
#   Service typee
#       Specify one of the following service types:
#
#       inet    The service listens on a TCP/IP socket  and is  accessible via the network.
#               The service name is specified as host:port, denoting the host and port on which new
#               connections should be  accepted.  The host part  (and colon) may be omitted. Either
#               host or port may be  given in symbolic form (see hosts(5) or services(5)) or in nu-
#               meric form:IP address or port number. Host information may be enclosed inside "[]";
#               this form is necessary only with IPv6 addresses.
#
#               Note: with Postfix version 2.2 and later specify "inet_interfaces = loopback-only"
#                     in main.cf, instead of hard-coding loopback IP address information in master.
#                     cf or in main.cf.
#
#       unix    The service listens on a UNIX-domain stream socket and is accessible for local cli-
#               ents only. The service name  is a pathname  relative to the Postfix queue directory
#               (pathname controlled with the "queue_directory" configuration parameter in main.cf).
#
#       unix-dgram
#               The service listens  on a UNIX-domain  datagram socket and is  accessible for local
#               clients only. The service name is a pathname relative to the Postfix queue directo-
#               ry(pathname controlled with the queue_directory configuration parameter in main.cf)
#
#       pass    The service listens on a UNIX-domain stream socket, and is accessible to local cli-
#               ents only. It receives one open connection (file descriptor passing) per connection
#               request.  The service name  is a pathname  relative to the Postfix queue directory
#               (pathname controlled with the "queue_directory" configuration parameter in main.cf).
#               This feature is available as of Postfix version 2.5.
#
#   Private (default: y)
#       Whether or not access is restricted to the mail system. Internet (type inet) services can't
#       be private.
#
#   Unprivileged (default: y)
#       Whether the service runs with  root privileges or as the owner  of the Postfix system  (the
#       owner name is controlled by the mail_owner configuration variable in the main.cf file). The
#       local(8), pipe(8), spawn(8) and virtual(8) daemons require privileges.
#
#   Chroot (default: Postfix >= 3.0: n, Postfix <3.0: y)
#       Whether or not the service runs chrooted to the mail queue directory (pathname is controll-
#       ed by the queue_directory configuration variable in the main.cf file). Chroot should not be
#       used with the local(8), pipe(8), spawn(8), and virtual(8) daemons. Although the proxymap(8)
#       server can run chrooted, doing so defeats most of the purpose of having that service in the
#       first place.
#
#   Wake up time (default: 0)
#       Automatically wake up the  named service after the specified number of seconds. The wake up
#       is implemented by connecting to the service and sending a wake up request. A "?" at the end
#       of the wake-up time  field requests that no wake up events be sent  before the first time a
#       service is used. Specify 0 for no automatic wake up.
#       The pickup(8), qmgr(8) and flush(8) daemons require a wake up timer.
#
#   Process limit (default: $default_process_limit)
#       The maximum number of processes that may execute this service simultaneously. Specify 0 for
#       no process count limit.
#
#       NOTE: Some Postfix services  must be configured  as a single-process service  (for example,
#             qmgr(8))  and some services  must be configured  with no  process limit (for example,
#             cleanup(8)). These limits must not be changed.
#
#   Command name + arguments
#       The command to be executed. Characters that are special to the shell such as > or | have no
#       special meaning here, and quotes cannot be used to protect arguments containing whitespace.
#       To protect whitespace, use "{" and "}" as described below.  The command name is relative to
#       the Postfix daemon directory  (pathname is controlled by the daemon_directory configuration
#       variable). The command argument syntax for specific commands is specified in the respective
#       daemon manual page.
#
#       The following command-line options have the same effect for all daemon programs:
#
#       -D  Run the daemon under control  by the command specified with the debugger_command varia-
#           ble in the main.cf configuration file. See DEBUG_README for hints and tips.
#
#       -o { name = value } (long form, Postfix >= 3.0)
#       -o name=value (short form)
#           Override the named "main.cf"  configuration parameter. The parameter value can refer to
#           other parameters as "$name" etc., just like in main.cf. See postconf(5) for syntax.
#
#           NOTE 1: With the "long form" shown above,  whitespace after "{", around "=", and before
#                   "}" is ignored, and whitespace within the parameter value is preserved.
#
#           NOTE 2: with the "short form" shown  above, do not specify whitespace around the "=" or
#                   in parameter values. To specify a parameter value that contains whitespace, use
#                   the long form described above, or use commas  instead of spaces, or specify the
#                   value in main.cf. Example:
#
#                   /etc/postfix/master.cf:
#                       submission inet .... smtpd
#                           -o smtpd_xxx_yyy=$submission_xxx_yyy
#
#                   /etc/postfix/main.cf
#                       submission_xxx_yyy = text with whitespace...
#
#           NOTE 3: Over-zealous use of parameter overrides makes the Postfix configuration hard to
#                   understand and maintain.  At a certain point,  it might be easier  to configure
#                   multiple  instances of Postfix,  instead of configuring  multiple personalities
#                   via master.cf.
#
#       -v  Increase the verbose logging level.  Specify multiple -v options to make a Postfix dae-
#           mon process increasingly verbose.
#
#       Other command-line arguments
#           Specify "{" and "}"  around command  arguments that contain whitespace (Postfix 3.0 and
#           later). Whitespace after "{" and before "}" is ignored.
#
# -------------------------------------------------------------------------------------------------
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# -------------------------------------------------------------------------------------------------
smtp      inet  n       -       n       -       -       smtpd
#smtp      inet  n       -       n       -       1       postscreen
#smtpd     pass  -       -       n       -       -       smtpd
#dnsblog   unix  -       -       n       -       0       dnsblog
#tlsproxy  unix  -       -       n       -       0       tlsproxy
submission inet n       -       n       -       -       smtpd
  -o syslog_name=postfix/submission
  -o smtpd_tls_security_level=may
  -o smtpd_sasl_auth_enable=yes
  -o smtpd_relay_restrictions=permit_sasl_authenticated,reject
  -o smtpd_recipient_restrictions=
#  -o smtpd_reject_unlisted_recipient=no
#  -o smtpd_client_restrictions=$mua_client_restrictions
#  -o smtpd_helo_restrictions=$mua_helo_restrictions
#  -o smtpd_sender_restrictions=$mua_sender_restrictions
#  -o milter_macro_daemon_name=ORIGINATING
#smtps     inet  n       -       n       -       -       smtpd
#  -o syslog_name=postfix/smtps
#  -o smtpd_tls_wrappermode=yes
#  -o smtpd_sasl_auth_enable=yes
#  -o smtpd_reject_unlisted_recipient=no
#  -o smtpd_client_restrictions=$mua_client_restrictions
#  -o smtpd_helo_restrictions=$mua_helo_restrictions
#  -o smtpd_sender_restrictions=$mua_sender_restrictions
#  -o smtpd_recipient_restrictions=permit_sasl_authenticated,reject
#  -o milter_macro_daemon_name=ORIGINATING
#628       inet  n       -       n       -       -       qmqpd
pickup    unix  n       -       n       60      1       pickup
cleanup   unix  n       -       n       -       0       cleanup
qmgr      unix  n       -       n       300     1       qmgr
#qmgr     unix  n       -       n       300     1       oqmgr
tlsmgr    unix  -       -       n       1000?   1       tlsmgr
rewrite   unix  -       -       n       -       -       trivial-rewrite
bounce    unix  -       -       n       -       0       bounce
defer     unix  -       -       n       -       0       bounce
trace     unix  -       -       n       -       0       bounce
verify    unix  -       -       n       -       1       verify
flush     unix  n       -       n       1000?   0       flush
proxymap  unix  -       -       n       -       -       proxymap
proxywrite unix -       -       n       -       1       proxymap
smtp      unix  -       -       n       -       -       smtp
relay     unix  -       -       n       -       -       smtp
#       -o smtp_helo_timeout=5 -o smtp_connect_timeout=5
showq     unix  n       -       n       -       -       showq
error     unix  -       -       n       -       -       error
retry     unix  -       -       n       -       -       error
discard   unix  -       -       n       -       -       discard
local     unix  -       n       n       -       -       local
virtual   unix  -       n       n       -       -       virtual
lmtp      unix  -       -       n       -       -       lmtp
anvil     unix  -       -       n       -       1       anvil
scache    unix  -       -       n       -       1       scache

# =================================================================================================
# Interfaces to non-Postfix software. Be sure to examine the manual pages of the non-Postfix soft-
# ware to find out what options it wants. Many of the following services use the Postfix pipe(8)
# delivery agent. See the pipe(8) man page for information about ${recipient} and other message en-
# velope options.
#
# COMMAND ATTRIBUTE SYNTAX
#   The external command attributes are given in the master.cf file at  the end of a service defi-
#   nition. The syntax is as follows:
#
#   chroot=pathname (optional)
#       Change the process root directory and working directory to the named directory. This hap-
#       pens before switching to the privileges specified with the user attribute, and before exe-
#       cuting the optional directory=pathname directive. Delivery is deferred in case of failure.
#
#   directory=pathname (optional)
#       Change to the named directory before executing the external command. The directory must be
#       accessible for the user specified with the user attribute (see below). The default working
#       directory is $queue_directory.  Delivery is deferred in case of failure.
#
#   eol=string (optional, default: \n)
#       The output record delimiter. Typically one would use either \r\n or \n. The usual C-style
#       backslash escape sequences  are  recognized: \a \b \f \n \r \t \v \ddd (up to three octal
#       digits) and \\.
#
#   flags=BDFORXhqu.> (optional)
#       Optional message processing flags. By default, a message is copied unchanged.
#
#           B   Append a blank line at the end of each message. This is required by some mail user
#               agents that recognize "From  " lines only when preceded by a blank line.
#
#           D   Prepend a "Delivered-To: recipient" message header with the envelope recipient ad-
#               dress. Note: for this to work, the transport_destination_recipient_limit must be 1
#               (see SINGLE-RECIPIENT DELIVERY above for details).
#
#               The D flag also enforces loop detection (Postfix 2.5  and later): if a message al-
#               ready contains a "Delivered-To:" header with the same recipient address, then the
#               message is returned as undeliverable. The address comparison is case insensitive.
#
#           F   Prepend a "From sender time_stamp" envelope header to the message content. This is
#               expected by, for example, UUCP software.
#
#           O   Prepend an "X-Original-To: recipient" message header with the recipient address as
#               given to Postfix. Note: for this to work, the transport_destination_recipient_limit
#               must be 1 (see SINGLE-RECIPIENT DELIVERY above for details).
#
#           R   Prepend a Return-Path: message header with the envelope sender address.
#
#           X   Indicate that the external command performs final delivery.  This flag affects the
#               status reported in success DSN (delivery status notification) messages, and changes
#               it from "relayed" into "delivered".
#
#           h   Fold the command-line $original_recipient and $recipient address domain part (text
#               to the right of the right-most @ character) to lower case; fold the entire command-
#               line $domain and $nexthop host or domain information to lower case. This is recom-
#               mended for delivery via UUCP.
#
#           q   Quote white space and other special characters in the command-line $sender, $origi-
#               nal_recipient and $recipient address localparts (text to the left of the right-most
#               @ character), according to an 8-bit transparent version of RFC 822. This is recom-
#               mended for delivery via UUCP or BSMTP.
#
#               The result is compatible with the address parsing of command-line recipients by the
#               Postfix sendmail(1) mail submission command.
#
#               The q flag affects only entire addresses, not the partial address  information from
#               the $user, $extension or $mailbox command-line macros.
#
#           u   Fold the command-line $original_recipient and $recipient address localpart (text to
#               the left of the right-most @ character) to lower case. This is recommended for de-
#               livery via UUCP.
#
#           .   Prepend "." to lines starting with ".". This is needed by, for example, BSMTP soft-
#               ware.
#
#           >   Prepend ">" to lines starting with "From ". This is expected by, for example, UUCP
#               software.
#
#       null_sender=replacement (default: MAILER-DAEMON)
#              Replace the null sender address (typically used for delivery status notifications)
#              with the specified text when expanding the $sender command-line macro, and when gen-
#              erating  a From_ or Return-Path: message header.
#
#              If the null sender replacement text is a non-empty string then it is affected by the
#              q flag for address quoting in command-line arguments.
#
#              The null sender replacement text may be empty; this form is recommended for content
#              filters that feed mail back into Postfix. The empty sender address is not affected
#              by the q flag for address quoting in command-line arguments.
#
#              Caution: a null sender address is easily mis-parsed by naive software. For example,
#              when the pipe(8) daemon executes a command such as:
#
#                  Wrong: command -f$sender -- $recipient
#
#              the command will mis-parse the -f option value when the sender address is a null
#              string. For correct parsing, specify  $sender as an argument by itself:
#
#                  Right: command -f $sender -- $recipient
#
#       size=size_limit (optional)
#              Don't deliver messages that exceed this size limit (in bytes); return them to the
#              sender instead.
#
#       user=username (required)
#       user=username:groupname
#              Execute the external command with the user ID and group ID of the specified user-
#              name.  The software refuses to execute commands with root privileges, or with the
#              privileges of the mail system owner. If groupname is specified, the corresponding
#              group ID is used instead of the group ID of username.
#
#       argv=command... (required)
#              The command to be executed. This must be specified as the last command attribute.
#              The command is executed directly, i.e. without interpretation of shell meta charac-
#              ters by a shell command interpreter.
#
#              Specify "{" and "}" around command arguments that contain whitespace (Postfix 3.0
#              and later). Whitespace after the opening "{" and before the closing "}" is ignored.
#              In  the command argument vector, the following macros are recognized and replaced
#              with corresponding information from the Postfix queue manager delivery request.
#
#              In addition to the form ${name}, the forms $name and the deprecated form $(name) are
#              also recognized. Specify $$ where a single $ is wanted.
#
#              ${client_address} -- This macro expands to the remote client network address.
#              ${client_helo} ----- This macro expands to the remote client HELO command parameter.
#              ${client_hostname} - This macro expands to the remote client hostname.
#              ${client_port} ----- This macro expands to the remote client TCP port number.
#              ${client_protocol} - This macro expands to the remote client protocol.
#              ${domain} ---------- This macro expands to the domain portion of the recipient ad-
#                                   dress. For example, with an address user+foo@domain the domain
#                                   is domain. This information is modified by the h flag for case
#                                   folding.
#              ${extension} ------- This macro expands to the extension part of a recipient ad-
#                                   dress. For example, with an address user+foo@domain the exten-
#                                   sion is foo. A command-line argument that contains ${extension}
#                                   expands into as many command-line arguments as there are recip-
#                                   ients.
#                                   This information is modified by the u flag for case folding.
#              ${mailbox} --------- This macro expands to the complete local part of a recipient
#                                   address. For example, with an address user+foo@domain the mail-
#                                   box is user+foo. A command-line argument that contains ${mail-
#                                   box} expands to as many command-line arguments as there are re-
#                                   cipients. This information is modified by the u flag for case
#                                   folding.
#              ${nexthop} --------- This macro expands to the next-hop hostname. This information
#                                   is modified by the h flag for case folding.
#              ${original_recipient}
#                                   This macro expands to the complete recipient address before any
#                                   address rewriting or aliasing. A command-line argument that
#                                   contains ${original_recipient} expands to as many command-line
#                                   arguments as there are recipients. This information is modified
#                                   by the hqu flags for quoting and case folding.
#              ${queue_id} -------- This macro expands to the queue id. This feature is available
#                                   as of Postfix 2.11.
#              ${recipient} ------- This macro expands to the complete recipient address. A com-
#                                   mand-line argument that contains ${recipient} expands to as
#                                   many command-line arguments as there are recipients. This in-
#                                   formation is modified by the hqu flags for quoting and case
#                                   folding.
#              ${sasl_method} ----- This macro expands to the name of the SASL authentication mech-
#                                   anism in the AUTH command when the Postfix SMTP server received
#                                   the message.
#              ${sasl_sender} ----- This macro expands to the SASL sender name (i.e. the original
#                                   submitter as per RFC 4954) in the MAIL FROM command when the
#                                   Postfix SMTP server received the message.
#              ${sasl_username} --- This macro expands to the SASL user name in the AUTH command
#                                   when the Postfix SMTP server received the message.
#              ${sender} ---------- This macro expands to the envelope sender address. By default,
#                                   the null sender address expands to MAILER-DAEMON; this can be
#                                   changed with the null_sender attribute, as described above.
#                                   This information is modified by the q flag for quoting.
#              ${size} ------------ This macro expands to Postfix's idea of the message size, which
#                                   is an approximation of the size of the message as delivered.
#              ${user} ------------ This macro expands to the username part of a recipient address.
#                                   For example, with an address user+foo@domain the username part
#                                   is user. A command-line argument that contains ${user} expands
#                                   into as many command-line arguments as there are  recipients.
#                                   This information is modified by the u flag for case folding.

# =================================================================================================
# maildrop. See the Postfix MAILDROP_README file for details. Also specify in main.cf:
# maildrop_destination_recipient_limit=1
# -------------------------------------------------------------------------------------------------
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# -------------------------------------------------------------------------------------------------
#maildrop  unix  -       n       n       -       -       pipe
#  flags=DRhu user=vmail argv=/usr/local/bin/maildrop -d ${recipient}


# =================================================================================================
# Recent Cyrus versions can use the existing "lmtp" master.cf entry.
#
# Specify in cyrus.conf:
#   lmtp    cmd="lmtpd -a" listen="localhost:lmtp" proto=tcp4
#
# Specify in main.cf one or more of the following:
#   mailbox_transport = lmtp:inet:localhost
#   virtual_transport = lmtp:inet:localhost
#
# Cyrus 2.1.5 (Amos Gouaux)
#   Also specify in main.cf: cyrus_destination_recipient_limit=1
# -------------------------------------------------------------------------------------------------
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# -------------------------------------------------------------------------------------------------
#cyrus     unix  -       n       n       -       -       pipe
#  user=cyrus argv=/usr/lib/cyrus-imapd/deliver -e -r ${sender} -m ${extension} ${user}


# =================================================================================================
# See the Postfix UUCP_README file for configuration details.
# -------------------------------------------------------------------------------------------------
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# -------------------------------------------------------------------------------------------------
#uucp      unix  -       n       n       -       -       pipe
#  flags=Fqhu user=uucp argv=uux -r -n -z -a$sender - $nexthop!rmail ($recipient)


# =================================================================================================
# Other external delivery methods.
# -------------------------------------------------------------------------------------------------
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# -------------------------------------------------------------------------------------------------
#procmail  unix  -       n       n       -       -       pipe
#  flags=R user={{ postfix.mailconfig.mailbox.username }} argv=/usr/bin/procmail -t -m
#  USER=${user} DOMAIN=${nexthop} {{ postfix.mailconfig.mailbox.conf }}/procmailrc
#
#ifmail    unix  -       n       n       -       -       pipe
#  flags=F user=ftn argv=/usr/lib/ifmail/ifmail -r $nexthop ($recipient)
#
#bsmtp     unix  -       n       n       -       -       pipe
#  flags=Fq. user=bsmtp argv=/usr/local/sbin/bsmtp -f $sender $nexthop $recipient
#
#scalemail-backend unix -       n       n       -       2       pipe
#  flags=R user=scalemail argv=/usr/lib/scalemail/bin/scalemail-store
#  ${nexthop} ${user} ${extension}
#
#mailman   unix  -       n       n       -       -       pipe
#  flags=FR user=list argv=/usr/lib/mailman/bin/postfix-to-mailman.py
#  ${nexthop} ${user}


# =================================================================================================
# ClamSMTP filter called from "content_filter"
# -------------------------------------------------------------------------------------------------
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# -------------------------------------------------------------------------------------------------
clamsmtp  unix  -       -       n       -       16      smtp
  -o smtp_send_xforward_command=yes
  -o smtp_data_done_timeout=600

# Source address for back to Postix after virus scan using ClamSMTP
127.0.0.1:{{ postfix.checkvirus.srcport }} inet  n  -       n       -       16      smtpd
  -o content_filter=
  -o mynetworks_style=host
  -o smtpd_helo_restrictions=
  -o smtpd_client_restrictions=
  -o smtpd_sender_restrictions=
  -o smtpd_recipient_restrictions=permit_mynetworks,reject
  -o smtpd_authorized_xforward_hosts=127.0.0.0/8
  -o receive_override_options=no_unknown_recipient_checks,no_header_body_checks


# =================================================================================================
# Use amavisd-new for checking spam and virus
# -------------------------------------------------------------------------------------------------
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# -------------------------------------------------------------------------------------------------
#amavis    unix  -       -       n       -       2       smtp
#  -o smtp_data_done_timeout=1200 -o smtp_send_xforward_command=yes
#127.0.0.1:10025 inet n  -       n       -       -       smtpd
#  -o content_filter=
#  -o local_recipient_maps=
#  -o relay_recipient_maps=
#  -o smtpd_restriction_classes=
#  -o smtpd_client_restrictions=
#  -o smtpd_helo_restrictions=
#  -o smtpd_sender_restrictions=
#  -o smtpd_recipient_restrictions=permit_mynetworks,reject
#  -o mynetworks=127.0.0.0/8
#  -o strict_rfc821_envelopes=yes
#  -o smtpd_error_sleep_time=0
#  -o smtpd_soft_error_limit=1024
#  -o smtpd_hard_error_limit=1023


# =================================================================================================
# Outgoing SMTP connection to some ESPs
# -------------------------------------------------------------------------------------------------
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# -------------------------------------------------------------------------------------------------
google-smtp unix -     -       n       -       1       smtp
  -o anvil_rate_time_unit=60s
  -o smtp_destination_concurrency_limit=2
  -o smtp_destination_recipient_limit=10
  -o smtp_destination_concurrency_failed_cohort_limit=10
  -o syslog_name=postfix/google

yahoo-smtp unix -      -       n       -       1       smtp
  -o anvil_rate_time_unit=60s
  -o smtp_initial_destination_concurrency=1
  -o smtp_destination_concurrency_limit=4
  -o smtp_destination_recipient_limit=2
  -o smtp_destination_rate_delay=1s
  -o syslog_name=postfix/yahoo

# https://www.nttdocomo.co.jp/service/imode_mail/notice/mass_send/
nttdocomo-smtp unix -  -       n       -       1       smtp
  -o anvil_rate_time_unit=5s
  -o smtp_destination_concurrency_limit=1
  -o smtp_destination_recipient_limit=1
  -o syslog_name=postfix/nttdocomo

# https://www.au.com/mobile/service/attention/specification/
aubykddi-smtp unix -   -       n       -       1       smtp
  -o anvil_rate_time_unit=60s
  -o smtp_destination_concurrency_limit=1
  -o smtp_destination_recipient_limit=1
  -o syslog_name=postfix/aubykddi

# https://www.softbank.jp/mobile/support/mail/antispam/howto/wrestle/
softbank-smtp unix -   -       n       -       1       smtp
  -o anvil_rate_time_unit=60s
  -o smtp_destination_concurrency_limit=1
  -o smtp_destination_recipient_limit=1
  -o syslog_name=postfix/softbank

# https://www.ymobile.jp/service/others/spam/
ymobile-smtp unix -    -       n       -       1       smtp
  -o anvil_rate_time_unit=60s
  -o smtp_destination_concurrency_limit=1
  -o smtp_destination_recipient_limit=1
  -o syslog_name=postfix/ymobile

