# MYNETWORKS
# =================================================================================================
# mynetworks (default: see "postconf -d" output)
#   Alternatively,  you can specify the mynetworks list by hand,  in which case Postfix ignores the
#   mynetworks_style setting.  Specify an explicit list of network/netmask patterns, where the mask
#   specifies the number of bits  in the network part of a host address.  You can also  specify the
#   absolute pathname of a pattern file instead of listing the patterns here.  Specify "type:table"
#   for table-based lookups (the value on the table right-hand side is not used).
# -------------------------------------------------------------------------------------------------
127.0.0.0/8         # Loop back

