# HEADER CHECKS
# =================================================================================================
# header_checks (default: empty)
#   The header_checks parameter specifies an optional table with patterns that each logical message
#   header is matched against, including headers that span multiple physical lines.
#
#   By default, these patterns also apply to MIME headers and to the headers of attached messages.
#   With older Postfix versions,  MIME and attached message headers were treated as body text. For
#   details, see "man header_checks".
# -------------------------------------------------------------------------------------------------
