# BODY CHECKS
# =================================================================================================
# body_checks (default: empty)
#   The body_checks parameter specifies an optional lookup tables for content inspection as speci-
#   fied in the body_checks(5) manual page.
# -------------------------------------------------------------------------------------------------
