# RELOCATED MAPS
# =================================================================================================
#   The relocated_maps configuration parameter specifies an optional lookup tables with new contact
#   information for users or domains that no longer exist.
#   The table format and  lookups of "relocated_maps" parameter are documented in relocated(5). 
# -------------------------------------------------------------------------------------------------
