# SMTP SASL PASSWORD MAPS
# =============================================================================
# smtp_sasl_password_maps (default: empty)
#   Optional Postfix SMTP client lookup tables with one username:password entry
#   per sender,  remote hostname or next-hop domain.  Per-sender lookup is done
#   only when sender-dependent authentication is enabled.
#
#   If no "username:password" entry is found, then the Postfix SMTP client will
#   not attempt to authenticate to the remote host.  The Postfix SMTP client o-
#   pens the lookup table before going to chroot(1) jail,  so you can leave the
#   password file in /etc/postfix.
#
#smtp_sasl_password_maps = hash:/etc/postfix/smtpauth
#
# smtp_sasl_auth_enable (default: no)
#   Enable SASL authentication in the Postfix SMTP client.
#smtp_sasl_auth_enable = yes
# -----------------------------------------------------------------------------
#[email.example.org]        username:password
#[relay.example.jp]:587     usernane:password
