# SMTP TLS POLICY MAPS
# =================================================================================================
# smtp_tls_policy_maps (default: empty)
#   Optional lookup tables  with the Postfix SMTP client  TLS security policy  by next-hop destina-
#   tion; when a non-empty value is specified,  this overrides the obsolete "smtp_tls_per_site" pa-
#   rameter. See "TLS_README" for a more detailed discussion of TLS  security levels. The TLS poli-
#   cy table is indexed by the full next-hop destination, which is either the recipient  domain, or
#   the verbatim  next-hop specified  in the transport table, $local_transport, $virtual_transport,
#   $relay_transport or $default_transport. This includes any enclosing square brackets and any non
#   default destination server port suffix. The LMTP socket type prefix (inet: or unix:) is not in-
#   cluded in the lookup key.
#
#   Only the next-hop domain,  or "$myhostname" with LMTP over UNIX-domain sockets,  is used as the
#   nexthop name for certificate verification.  The port and any enclosing square brackets are used
#   in the table lookup key, but are not used for server name verification.
#
#   When the lookup key is a  domain name without  enclosing square brackets or any  ":port" suffix
#   (typically the recipient domain),  and the full domain is not found in the table,  just as with
#   the transport(5) table, the parent domain starting with a leading "." is matched recursively.
#   This allows one to specify a security policy for a recipient domain and all its sub-domains.
#
# -------------------------------------------------------------------------------------------------
# Example:
#   /etc/postfix/main.cf:
#       smtp_tls_policy_maps = hash:/etc/postfix/tls_policy
#   # Postfix 2.5 and later
#       smtp_tls_fingerprint_digest = md5
#   /etc/postfix/tlspolicies:
#       example.edu                 none
#       example.mil                 may
#       example.gov                 encrypt protocols=TLSv1
#       example.com                 verify ciphers=high
#       example.net                 secure
#       .example.net                secure match=.example.net:example.net
#       [mail.example.org]:587      secure match=nexthop
#   # Postfix 2.5 and later
#       [thumb.example.org]         fingerprint
#           match=EC:3B:2D:B0:5B:B1:FB:6D:20:A3:9D:72:F6:8D:12:35
#           match=3D:95:34:51:24:66:33:B9:D2:40:99:C0:C1:17:0B:D1
#
#   Note: The hostname strategy if listed in a non-default setting of
#         smtp_tls_secure_cert_match or in the match attribute in the policy
#         table can render #the secure level vulnerable to DNS forgery. Do not
#         use the hostname strategy for secure-channel configurations in envi-
#         ronments where DNS security is n#ot assured.
# -------------------------------------------------------------------------------------------------

