# VIRTUAL ALIAS MAPS
# =================================================================================================
# virtual_alias_maps (default: $virtual_maps)
#   Optional lookup tables that alias specific e-mail addresses or domains to other local or remote
#   address. The table format and lookups are documented in virtual(5). For an overview of Postfix
#   address manipulations see the ADDRESS_REWRITING_README document.
# -------------------------------------------------------------------------------------------------
