[Unit]
Description=Clamav Smtpd Antivirus Daemon
After=network.target

[Service]
Type=forking
PIDFile={{ postfix.checkvirus.runtime }}/smtpd.pid
ExecStart=/usr/sbin/clamsmtpd -f /etc/clamsmtpd.conf -p {{ postfix.checkvirus.runtime }}/smtpd.pid

[Install]
WantedBy=multi-user.target
