## {{ postfix.dkimmilter.confdir }}/ignored-hosts
##  ExternalIgnoreList filename
##    Names a file from which a list of externally-trusted hosts is read. These are hosts which are
##    allowed to send mail through you for signing. Automatically contains 127.0.0.1. See man page
##    for file format.
## ================================================================================================
localhost
127.0.0.1
::1
