## {{ postfix.dkimmilter.confdir }}/trusted-hosts
##  InternalHosts dataset | default "127.0.0.1"
##    Names a file from which a list of internal hosts is read. These are hosts from which mail
##    should be signed rather than verified. Automatically contains 127.0.0.1.
## ================================================================================================
127.0.0.1
