##  DomainWhitelistFile path | default (none)
##    A comprehensive list of whitelisted domains for which ARC signature headers are trusted as
##    determined by evaluating entries in the "arc.chain" field found in a locally generated
##    Authentication-Results header.
##    This list will be concatenated with DomainWhitelist (if provided).

