# {{ postfix.opendmarc.confdir }}/trusted-names
# DomainWhitelistFile (string)
#   A comprehensive list of whitelisted domains for which ARC signature headers are trusted as de-
#   termined by evaluating entries in the "arc.chain" field found in a locally generated Authenti-
#   cation-Results header. This list will be concatenated with DomainWhitelist (if provided).
# -------------------------------------------------------------------------------------------------
