#!/bin/sh
# $Id: make-vmailbox.SH,v 1.12.2.1 2011/03/19 09:41:17 ak Exp $
export LANG=C
export PATH="/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin"

VIRTMAILUSER="{{ dovecot.mailconfig.mailbox.username }}"
VIRTMAILHOME="{{ dovecot.mailconfig.mailbox.root }}"
NEWMAILADDRS="$@"
DOASVIRTMAIL=""
INTERNALDIRS="cur new tmp etc log"

if [ $USER != "{{ dovecot.mailconfig.mailbox.username }}" ]; then
    DOASVIRTMAIL="sudo -u {{ dovecot.mailconfig.mailbox.username }} "
fi

if [ -n "$NEWMAILADDRS" ]; then
    test -d $VIRTMAILHOME || \
        ( mkdir -pm 0755 $VIRTMAILHOME && chown $VIRTMAILUSER:$VIRTMAILUSER $VIRTMAILHOME )

    for E in $NEWMAILADDRS; do
        lpart="`echo $E | cut -d@ -f1`"
        dpart="`echo $E | cut -d@ -f2`"

        if [ -n "$lpart" -a -n "$dpart" ]; then
            if [ ! -d "$VIRTMAILHOME/$dpart/$lpart" ]; then
                for v in $INTERNALDIRS; do
                    $DOASVIRTMAIL mkdir -pm 0700 $VIRTMAILHOME/$dpart/$lpart/$v
                done
                $DOASVIRTMAIL touch      $VIRTMAILHOME/$dpart/$lpart/etc/procmailrc
                $DOASVIRTMAIL chmod 0640 $VIRTMAILHOME/$dpart/$lpart/etc/procmailrc

                $DOASVIRTMAIL touch      $VIRTMAILHOME/$dpart/$lpart/log/procmail.log
                $DOASVIRTMAIL chmod 0640 $VIRTMAILHOME/$dpart/$lpart/log/procmail.log
                echo "$E => $VIRTMAILHOME/$dpart/$lpart"
            fi
        else
            echo "'$E' does not seem to email address"
        fi
    done
else
    echo "Usage: "
    echo " $0 email1 [ email2 [ email3 [...] ] ]"
    echo
    echo "Example: $0 neko@nyaan.jp kijitora@libsisimai.org"
    exit 1;
fi

