#!/bin/sh
export LANG=C
export PATH="/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin"

# $0 'neko@nyaan.jp' 'nyaan.jp'
ARGUMENT1="$1"
ARGUMENT2="$2"

VMAILROOT="{{ postfix.mailconfig.mailbox.root }}"
TIMETOKEN="`date '+%F'`"
VMAILPATH=""
LOCALPART=""
DOMAINDIR=""

echo $ARGUMENT1 | grep '@' > /dev/null 2>&1
if [ "$?" -eq "0" ]; then
    # Split the email address by "@" character
    LOCALPART=`echo $ARGUMENT1 | cut -d'@' -f1`
    DOMAINDIR=`echo $ARGUMENT1 | cut -d'@' -f2`
else
    # The 1st argument is a lcoal part, the 2nd argument is a domain part.
    LOCALPART=$ARGUMENT1
    DOMAINDIR=$ARGUMENT2
fi

if [ -n "$LOCALPART" -a -n "$DOMAINDIR" ]; then
    VMAILPATH="$VMAILROOT/$DOMAINDIR/$LOCALPART"
    test -d "$VMAILPATH" && mv $VMAILPATH $VMAILPATH-REMOVED-$TIMETOKEN
else
    echo "$0: Invalid parameters"
    exit 255
fi
exit 0

