# openarc: usage: openarc -p socketfile [options]
#     -A              auto-restart
#     -c conffile     read configuration from conffile
#     -f              don't fork-and-exit
#     -h              print this help message and exit
#     -l              log activity to system log
#     -n              check configuration and exit
#     -P pidfile      file into which to write process ID
#     -r              require basic RFC5322 header compliance
#     -t testfile     evaluate RFC5322 message in "testfile"
#     -u userid       change to specified userid
#     -v              increase verbosity during testing
#     -V              print version number and terminate
