#     __   _          __               _    __ _          __  _ _     
#    / /__| |_ ___   / / __   ___  ___| |_ / _(_)_  __   / /_| | |__  
#   / / _ \ __/ __| / / '_ \ / _ \/ __| __| |_| \ \/ /  / / _` | '_ \ 
#  / /  __/ || (__ / /| |_) | (_) \__ \ |_|  _| |>  <  / / (_| | |_) |
# /_/ \___|\__\___/_/ | .__/ \___/|___/\__|_| |_/_/\_\/_/ \__,_|_.__/ 
#                     |_|                                             
# virtual_alias_maps = {{ postfix.backend.database }}.virtusers
hosts    = {{ postfix.backend.host }}
user     = {{ postfix.backend.username }}
password = {{ postfix.backend.password }}
dbname   = {{ postfix.backend.database }}
query    = SELECT rhs FROM virtusers WHERE lhs = '%s' AND disabled = 0

